* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

.red {
  border: 2px solid red;
}
.blue {
  border: 2px solid blue;
}

.green {
  border: 2px solid green;
}